/* estilos*/
#logo{
  background-color: #c1c0b9;
  text-align: center;
  margin: 0;
  color: #fff;
}
 #destacados {
  background-color: #fff;
  color: #7b3c3c;
 }

 #header{
   box-shadow: 0,0,0,0.7;
 }
 *{
 	font-family: 'Playfair Display', serif;
 }
 .carousel-item img{
   object-fit: cover;
   width: 35vw;
   height: 300px;



 /*Bibliografia:https://escss.blogspot.com/2015/01/recorte-centrado-automatico-imagen.html*/
 }
 
 
 
 
              /*------------Sección del Home---------------*/
 .CabeceraDePagina h1{
   margin-bottom: 0;
 }
 
 .bienvenida .col-md-10{
  text-align:center;
  margin-top: 50px;
 }
 
 .intermedio{
 background-color:#212121;
 margin-top:50px;
 margin-bottom:50px;
 }
.intermedio h1{
	text-align:center;
  	margin-top: 50px;
  	margin-bottom:50px;
  	color:white;
} 
.container .presentacion{
	background-color:black;
	
	}





/*Cartas*/



.cartas_destacadas{
	align-items:center; 
 }

.cartas_destacadas .card-container{
  height: 450px;
  width: 300px;
  margin-left:50%;
  margin-right:50%;
  left: 40%;
  right: 50%;
  perspective:200rem;
}
.cartas_destacadas .card-front{
	width:300px; 
	right:0;
	left:0;
}

.cartas_destacadas .card-container:hover .card-front{
  transform: rotateY(180deg);

}
.cartas_destacadas .card-container:hover .card-back{
  transform: rotateY(0deg);

}
.cartas_destacadas .card-back{
  transform: rotateY(180deg);
}

.cartas_destacadas .card-back .card-body{
	position:relative;
}

.cartas_destacadas .card{
  position: absolute;
  height: 80%;
  width:80%;
  transition: all 1s;
  backface-visibility: hidden;
  align-items:center;

}
.cartas_destacadas .card-body a{
  position: absolute;
  top: 90%;
  left: 50%;
  margin: -15% 0 0 -25%;
  margin-bottom:auto;
}



.cartas_destacadas .card-descriptor{
  height: 30%;
  width: 80%;
  margin: auto;
}

 
 
 
                 /*------------Sección del buscador---------------*/

.buscador_acordeon .resultados{
  margin: 20px;
}

.genero{
  text-align: left;
}

/* Movimiento del sistema de búsqueda*/
.buscar{
	
	position:absolute;
	padding:5px;
}

.buscador_tags .container{
	margin-top:50px;
	margin-bottom:50px;
	display:flex;
	height:50px;
	justify-content:center;
	align-items:center;
}
.buscar input{
	width:0;
	height: 40px;
	padding :0 20px;
	font-size:18px;
	color:black;
	outline:none;
	border:1px,solid silver;
	border-radius: 30px;
	transition: all 0.9s;
}
.buscador_tags .btn{
	width:55px;
	height:55px;
	line-height: 55px;
	top:0;
	right:0;
	position:absolute;
	text-align:center;
	color:white;
	background:#c1c0b9;
	font-size:20px;
	border-radius:50%;
	cursor:pointer;
	padding:0;
	margin:0;
}

.buscar:hover input{
	width:400px;
}
.buscar input:focus{
	width:360px;
}

/*Contenido de las tablas del listado*/

.content-table{
	border-collapse:collapse;
	margin:25px 0;
	font-size: 1.2em;
	min-width:400px;/* Lo más probable que aquí tenga problema*/
	border-radius: 5px 5px 0 0;
	overflow:hidden;
	box-shadow: 0 0 20px 0 rgba(0,0,0,15);

}
.content-table a {
}

.content-table thead tr{
	background-color:#3ee685;
	color:#ffffff;
	text-align:left;
	font-weight:bold;
	
}

.content-table th,
.content-table td{
	padding: 12px 15px;
	
}

.content-table tbody tr{
	border-bottom:1px solid #3ee685;
	
	
}

.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #00C851;
}
/* Este contenido podría dejarse para los libros que se encuentran en formato destacados
table tbody tr .active-row{
	font-weight:bold;
	color:	#00C851
}
Bibliografía: https://www.youtube.com/watch?v=biI9OFH6Nmg*/

                /*------------Sección del descriptor---------------*/
.descripciones .container{
	margin-top:50px;
}
                /*-----------Seccion del perfil---------------------*/
.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.desc {
  text-align: center;
  padding: 10px 20px;
}
